doctype html
html
  head
    meta(charset='utf-8')
    title Display Boxes
    link(rel='stylesheet', href='/css/style.css')
  body
    while count
      - count--
      - var index  = Math.floor(Math.random() * colors.length)
      - var color  = colors[index]
      - var width  = Math.floor(Math.random() * (widths[1]  - widths[0]  + 1)) + widths[0]
      - var height = Math.floor(Math.random() * (heights[1] - heights[0] + 1)) + heights[0]

      .color(style='background-color:#{color}; width:#{width}px; height:#{height}px;')

